* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* default classes for alot of elements */

#loading-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    font-size: 3rem;
    color: white;
    background-color: rgb(40, 110, 121);
    z-index: 10;
    top: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: loadingScreen;
    animation-iteration-count: 1;
    animation-timing-function: step-end;
    animation-duration: 1s;
}

@keyframes loadingScreen {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* navigation panel */

#nav-panel-container {
    margin: 20px auto;
    width: 1366px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../resources/nav-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

#login-signup-form {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: aliceblue;
    margin-bottom: 10px;
    border-radius: 0 10px 10px 10px;
}

#login-input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#login-signup-form input {
    margin: 10px 10px 0px 10px;
    padding: 5px;
    border: none;
    background-image: linear-gradient(to bottom, rgb(96, 255, 194) , rgb(67, 180, 137));
    color: white;
}

#login-signup-form input:focus {
    background-image: linear-gradient(to bottom, rgb(155, 240, 255) , rgb(40, 110, 121));
}

#login-signup-btns {
    display: flex;
    flex-direction: column;
}

#login-signup-form button {
    padding: 3px 10px 3px;
    float: left;
    margin: 10px;
    margin-bottom: 0;
    transition: 0.45s;
}

#login-signup-form button:hover {
    background-color: rgb(77, 204, 155);
    cursor: pointer;
}

#nav-list {
    align-self: flex-end;
}

.nav-item {
    float: left;
    background-image: linear-gradient(to bottom, rgb(96, 255, 194) , rgb(67, 180, 137));
    margin: 10px;
    padding: 10px 15px;
    color: white;
}

.nav-item:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(155, 240, 255) , rgb(40, 110, 121));
}

#currency-list {
    align-self: flex-end;
    margin-right: 15px;
    background-color: aliceblue;
}

.currency-item {
    float: left;
    margin: 10px;
    background-color: aliceblue;
    padding: 0px 50px;
}

/* main section */

#main-window {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

/* left main */

#left-main-container {
    width: 60%;
}

#character-tab {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    background-color: aliceblue;
    position: relative;
}

#character {
    position: absolute;
    top: 150px;
    left: 300px;
}

#character img{
    width: 25%;
}

#hat-slot {
    position: absolute;
    top: -50px;
}

/* left main */

#character-tab {
    background-image: url(../resources/cozyCottageBackground.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border: 1px solid #c0c0c0
}

/* right main */

#right-main-container {
    width: 40%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

#your-message {
    width: 95%;
    margin-bottom: 20px;
    border: 1px solid #c0c0c0;
    background-image: linear-gradient(to bottom, rgb(96, 255, 194) , rgb(67, 180, 137));
}

#your-message h4 {
    padding: 16px;
    color: white;
}

.small-tab {
    width: 45%;
    height: 110px;
    background-color: aliceblue;
    border: 1px solid #c0c0c0;
}

.big-tab {
    width: 95%;
    height: 100px;
    background-color: aliceblue;
    border: 1px solid #c0c0c0; 
}

.tab-title {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(96, 255, 194) , rgb(67, 180, 137));
    border-radius: 10px 10px 0 0;
    color: white;
}

.tab-title h4{
    padding: 10px;
}

.tab-text {
    background-color: aliceblue;
}

.tab-text h5 {
    margin: 10% 0 0 5%;
    color: #797979;
}

#stats-tab {
    width: 95%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #c0c0c0;
}

.stat-item {
    width: 43%;
    border: 1px solid #c0c0c0;
    margin: 10px;
    padding: 5px;
}

.stat-meter {
    margin: 5px 0;
}

.fill-stat {
    display: block;
    height: 25px;
    width: 100%;
    background-color: orange;
    border-radius: 5px;
    transition: 0.45s;
}

.stat-item button {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom, rgb(96, 255, 194) , rgb(67, 180, 137));
}

.stat-item button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(155, 240, 255) , rgb(40, 110, 121));
}

/* WAREDROBE STUFF */

#waredrobe-select {
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.waredrobe-select-item.active {
    opacity: 100%;
}

.waredrobe-select-item {
    width: 35%;
    height: 30%;
    border: 3px solid #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    transition: 0.45s;
    background-image: linear-gradient(to bottom, rgb(96, 255, 194) , rgb(67, 180, 137));
}

.waredrobe-background-item {
    width: 80%;
}

.waredrobe-select-item img {
    width: 50%;
}

.waredrobe-background-item img {
    width: 25%;
}

.waredrobe-select-item:hover {
    opacity: 100%;
    cursor: pointer;
}

#waredrobe-item-list {
    width: 100%;
    height: 250px;
    margin: 10px 0px;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.waredrobe-item-icon {
    width: 75px;
    height: 75px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    opacity: 50%;
    transition: 0.45s;
}

.waredrobe-item-icon:hover {
    opacity: 100%;
    cursor: pointer;
}

/* library stuff */
#main-window.library {
    justify-content: space-between;
}

#library-container {
    width: 70%;
}
#library-tab {
    background-image: url(../resources/libraryRoomPNG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    margin-bottom: 20px;
    position: relative;
}

#library-tab #character {
    top: 400px;
}

#library-tab #character #hat-slot {
    top: -60px;
}

#library-options {
    width: 28%;
    height: 700px;
}

#study-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.study-item {
    background-image: linear-gradient(to bottom, rgb(96, 255, 194) , rgb(67, 180, 137));
    width: 80%;
    padding: 20px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.study-item:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(155, 240, 255) , rgb(40, 110, 121));
}