* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

/* default classes for alot of elements */

/* navigation panel */

#nav-panel-container {
    margin: 20px auto;
    width: 1366px;
    background-color: aqua;
    position: relative;
    display: flex;
    flex-direction: column;
}

#login-signup-form {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: aliceblue;
    margin-bottom: 10px;
}

#login-input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#login-signup-form input {
    margin: 10px 10px 0px 10px;
    padding: 5px;
}

#login-signup-btns {
    display: flex;
    flex-direction: column;
}

#login-signup-form button {
    padding: 5px 10px 5px;
    float: left;
    margin: 10px;
    margin-bottom: 0;
}

.nav-item {
    float: left;
    background-color: blue;
    margin: 10px;
    padding: 10px 15px;
}

#currency-list {
    align-self: flex-end;
    margin-right: 15px;
    background-color: aliceblue;
}

.currency-item {
    float: left;
    margin: 10px;
    background-color: aliceblue;
    padding: 0px 50px;
}

/* main section */

#main-window {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}

/* left main */

#left-main-container {
    width: 60%;
    
}

#character-tab {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    background-color: aliceblue;
}

/* right main */

#right-main-container {
    width: 40%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.small-tab {
    width: 45%;
    height: 110px;
}

.big-tab {
    width: 95%;
    height: 100px;
}

#mood-tab {
    background-color: rgb(163, 143, 52);
}

.tab-title {
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px 10px 0 0;
}

.tab-title h4{
    padding: 10px;
}


#int-tab {
    background-color: cadetblue; 
}

#stats-tab {
    width: 95%;
    height: 100px;
    background-color: blue;
}